<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Base Web App</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="form" style="max-width: 600px">
    <h3>Пользователи</h3><br>

    <label for="name"></label><input id="name" placeholder="введите имя" type="text">
    <button id="saveBtn" onclick="addUser()" th:url="${#request.getContextPath()}">Добавить пользователя</button>
    <br><br>
    <table style="width: 100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody id="user-list">
        </tbody>
    </table>
</div>
<script crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    let baseUrl = $('#saveBtn').attr('url');
    const errorHandler = error => {
        switch (error.status) {
            case 403:
                location.href = '/';
                break;
            case 400:
                $("#name").addClass("error");
                break;
            default:
                return;
        }
    };

    const addUser = () => {
        let nameInput = $("#name");
        let value = nameInput.val();

        if (value.length > 0) {
            $.ajax({
                type: "POST",
                url: `${baseUrl}/api/users`,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "name": value
                }),
                success: () => {
                    $("#user-list").empty();
                    fetchUsers();
                    $("#name").val('');
                },
                failure: errorHandler
            });
        } else {
            nameInput.addClass('error');
        }
    };

    const fetchUsers = () => {
        $.get(`${baseUrl}/api/users`).done(list => {
            for (let i = 0; i < list.length; i++) {
                $("#user-list").append(`<tr><td>${list[i].id}</td><td>${list[i].name}</td></tr>`);
            }
        }).fail(errorHandler);
    };

    $(document).on('keypress', (e) => {
        if (e.which === 13) addUser();
    });

    $(document).ready(() => {
        $('#name').on('keydown', () => $("#name").removeClass('error'));

        fetchUsers();
    });
</script>
</body>
</html>